<quark-component>
    <h1>About <%= longName %> application</h1>
    <div class="well pull-right">
        <p>
            <strong>License:</strong> <%= license %>
        </p>
        <p>
            <strong>Keywords:</strong>
            <span class="label label-primary">
                Quark
            </span>
<%
    for (var i = 0; i < keywords.length; i++) {
        var keyword = keywords[i];
%>
            &nbsp;
            <span class="label label-primary">
                <%= keyword %>
            </span>
<% } %>
        </p>
        <p>
            <strong>Authors:</strong>
            <ul>
<%
    for (var i = 0; i < authors.length; i++) {
        var author = authors[i];
%>
                <li>
                    <%= author %>
                </li>
<% } %>
            </ul>
        </p>
        <p>
            <strong>Homepage:</strong>
            <a href="<%- homepage %>"><%= homepage %></a>
        </p>
    </div>
    <p>
        Application developed with Quark.js.
    </p>
</quark-component>
